#cardGame {
    width: 24em;
    height: 16em;
    perspective: 1000px
}

.pokeCard {
    width: 8em;
    height: 8em;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flipped {
    transform: rotateY(180deg)
}

.pokeImg,
.pokeBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.pokeBack {
    z-index: 1;
}

.pokeImg {
    z-index: 0;
    transform: rotateY(180deg);
}


.btn-group .btn.active:focus {
    /* Add your desired styling for the focused state of the active button */
    /* For example, change the border color or add a box-shadow */
    border-color: #0062cc;
    box-shadow: 0 0 10px rgba(0, 92, 191);
}